<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HowGreen</title>
    <link rel="stylesheet" href="/stylesheets/upload.css"/>
</head>
<body>
    <ul id="navbar">
        <li>
          <a href="/">HowGreen</a>
        </li>
        <img src="/images/Artboard 8.png" width=15%/>
        <li style="float: right;">
          <a class="active" href="/upload">List</a>
        </li>
      </ul>
    <h1>Green Lifestyle Places</h1>
      <h2>서울</h2>
        <h3><u>강남구</u></h3>
          <p>
            보물베이커리 (역삼동 796-3)<br>
            마히나비건테이블 (신사동 547-7)<br>
            스타일비건 (논현동 108)<br>
            칙피스 (신사동 540-18)<br>
            러빙헛 본점 (개포동 1218-16)<br>
          </p>
        <h3><u>노원구</u></h3>
          <p>
            엘밭 (공릉동 609-9)<br>
          </p>
        <h3><u>도봉구</u></h3>
          <p>
            비건카페 먀쿠아 (쌍문동 422-14)<br>
          </p>
        <h3><u>동작구</u></h3>
          <p>
            홀썸 (대방동 340-4)<br>
          </p>
        <h3><u>마포구</u></h3>
          <p>
            메종드비건 (상수동 93-107)<br>
            평상시 망원점 (망원동 419-8)<br>
            가원 (망원동 386-2)<br>
            비건베이커리 해밀 (성산동 239-24)<br>
            드렁큰비건 (창천동 5-78)<br>
            어라운드그린 (망원동 423-15)<br>
            슬런치팩토리 (상수동 336-18)<br>
            쿡앤북 (합정동 361-26)<br>
          </p>
        <h3><u>서대문구</u></h3>
          <p>
            이 세계는 놀이터예요 (대현동 142-9)<br>
          </p>
        <h3><u>서초구</u></h3>
          <p>
            푸드더즈매터 (반포동 97-5)<br>
            남미플랜트랩 (방배동 455-20)<br>
            피봇 (방배동 778-2)<br>
          </p>
        <h3><u>성동구</u></h3>
          <p>
            써니브레드 (성수동 1가 685-290)<br>
          </p>
        <h3><u>성북구</u></h3>
          <p>
            아케미 (길음동 1094)<br>
            굿데이서울 (동소문동2가 131)<br>
          </p>
        <h3><u>송파구</u></h3>
          <p>
            씨젬므쥬르 (송파동 12-3)<br>
          </p>
        <h3><u>양천구</u></h3>
          <p>
            모모메이드 (신정동 1101-15)<br>
          </p>
        <h3><u>용산구</u></h3>
          <p>
            오늘 (동빙고동 1-102)<br>
            몽크스부처 (한남동 683-126)<br>
            베제투스 (용산동2가 22-12)<br>
          </p>
        <h3><u>은평구</u></h3>
          <p>
            달냥 (녹번동 5-29)<br>
          </p>
        <h3><u>종로구</u></h3>
          <p>
            채식주의자 (통인동 102)<br>
            경우의수 (누상동 1-1)<br>
            뿌리온더플레이트 (종로구 계동 100-1)<br>
            소이로움 (누하동 58-1)<br>
          </p>
        <h3><u>중랑구</u></h3>
          <p>
            작은부엌 (면목동 501-4)<br>
          </p>
      <h2>경기도</h2>
        <h3><u>고양</u></h3>
          <p>
            땡스비건 (일산서구 대화동 2196-1)<br>
            빵갤러리아 (일산동구 정발산동 710-2)<br>
            오렌지블루 (일산동구 마두동 879-5)<br>
          </p>
        <h3><u>부천</u></h3>
          <p>
            10월의 비건 테이블 (중동 1103)<br>
          </p>
        <h3><u>광주</u></h3>
          <p>
            카메 (경안동 74-9)<br>
          </p>
        <h3><u>양평</u></h3>
          <p>
            두머리부엌 (양서면 용담리 215-18)<br>
          </p>
      <h2>광주</h2>
          <p>
            베들레헴 베이킹스튜디오 (동구 금동 45)<br>
          </p>
      <h2>대구</h2>
      <h2>대전</h2>
          <p>
            비건바닐라 (서구 갈마동 781)<br>
            살루떼 (유성구 원촌동 48-2)<br>
          </p>
      <h2>부산</h2>
          <p>
            동화대반점 (수영구 남천동 69-2)<br>
          </p>
      <h2>인천</h2>
      <h2>강원도</h2>
          <p>
            춘천막국수 (춘천시 근화동 798-1)<br>
          </p>
      <h2>경상남도</h2>
          <p>
            서리아이스크림 (창녕군 창녕읍 술정리 350-3)<br>
            팜트리 (거제시 동부면 학동리 85-2)<br>
          </p>



</body>
</html>